
  <div class="panel-body">
<%= form_for(@tool) do |f| %>
  <% if @tool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tool.errors.count, "error") %> prohibited this tool from being saved:</h2>

      <ul>
      <% @tool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <%= f.label :tool_name %><br>
    <%= f.text_field :tool_name, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :person_name %><br>
    <%= f.text_field :person_name, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date_out_text %><br>
    <%= f.text_field :date_out_text, class:"form-control", id:"date_in_text" %>
  </div>
  <div class="form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city, class:"form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :date_in_text %><br>
    <%= f.text_field :date_in_text, class:"form-control", id:"date_out_text" %>
  </div>
  
  <div class="form-group">
    <%= f.label :comments %><br>
    <%= f.text_area :comments, class:"form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.submit class:"btn btn-success" %> <%= link_to 'Cancel', tools_path, class:"btn btn-danger" %>
  </div>
<% end %>
  </div>
</div>
  </div>
</div>