<%= form_for(@tool) do |f| %>
  <% if @tool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tool.errors.count, "error") %> prohibited this tool from being saved:</h2>

      <ul>
      <% @tool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tool_name %><br>
    <%= f.text_field :tool_name %>
  </div>
  <div class="field">
    <%= f.label :person_name %><br>
    <%= f.text_field :person_name %>
  </div>
  <div class="field">
    <%= f.label :date_out %><br>
    <%= f.date_select :date_out %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :date_in %><br>
    <%= f.date_select :date_in %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
