<p id="notice"><%= notice %></p>

<h1>Listing Tools</h1>

<table>
  <thead>
    <tr>
      <th>Tool name</th>
      <th>Person name</th>
      <th>Date out</th>
      <th>City</th>
      <th>Date in</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tools.each do |tool| %>
      <tr>
        <td><%= tool.tool_name %></td>
        <td><%= tool.person_name %></td>
        <td><%= tool.date_out %></td>
        <td><%= tool.city %></td>
        <td><%= tool.date_in %></td>
        <td><%= link_to 'Show', tool %></td>
        <td><%= link_to 'Edit', edit_tool_path(tool) %></td>
        <td><%= link_to 'Destroy', tool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tool', new_tool_path %>
